<% if logged_in? %>
  <% if current_user.admin? && current_user?(current_user) %>
    <div id="action">
      <%= button_to "編集", {:action => "modify"}, {method: :get, class: "btn btn-primary"} %>
    </div>
  <% end %>
<% end %>
<table>
  <th>掲示情報</th>
  <% @info.each do |i| %>
    <% if i.use then %>
      <tr>
        <td>
            <%= i.content %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
