<h1>テストお疲れ様！</h1>
<p>
    <%= @msg %>
</p>
    <table>
        <tr>
            <td>
                問題番号
            </td>
            <td>
                正解
            </td>
            <td>
                あなたの解答
            </td>
            <td>
                表示
            </td>
        <tr>

        <% $answer_table.each do |a_t| %>
        <tr>
            <%a_t.each do |d| %>
                <td>
                    <%= raw d %>
                </td>
            <% end %>
            <td>
                <%= button_to '問題文表示', controller: "course", action: "show", data: a_t %>
            </td>
        </tr>
        <% end %>
        
    </table>
<p>
    <%= button_to("選択画面へ", '/choose_course', :method => :get) %>
</p>