<p>
    <%= $q.q_text %>
</p>
<ol>
    <% (1..5).each do |n| %>
        <% if eval("$choices.choice_#{n}") then %>
            <li>
                <%= radio_button_tag('num',n) %>
                <%= label_tag("num_#{n}",eval("$choices.choice_#{n}")) %>
            </li>
        <% end %>
    <% end %>
</ol>
<p>
</p>
<%= button_to("次へ", :method => :post)%>
