
<p>
    問題を選択(現在は4択問題のみ)
    <div id="request_ajax_update" >
    <%= form_tag('/choose_course', method: :post) do  %>
        <%= select_tag 'label', options_for_select([*$labels]) %>

    <%= submit_tag("選択") %>
    <% end %>
    </div>
    <div id="updated_by_ajax" >
    </div>
    

</p>