
<p>
    問題を選択(現在は英検の問題のみ)
    <%= form_tag(course_path, method: :get) do  %>
        <%= select_tag 'num', options_for_select(Label.where(name: 'ept').map{|n| n.max.to_s()}) %>

    <%= submit_tag("問題へ") %>
    <% end %>
    

</p>