
<p>
    問題を選択(現在は英検の問題のみ)
    <%= form_tag(course_path, method: :get) do  %>
        <%= select_tag 'num', options_for_select([*1..(Label.find_by(name: 'ept').max)]) %>

    <%= submit_tag("問題へ") %>
    <% end %>
    

</p>